# Librerías

In [2]:
import numpy as np
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib
import seaborn
import requests
import re

# Lista de heroes

In [7]:
url_hero_list="https://mobile-legends.fandom.com/wiki/List_of_heroes"
response = requests.get(url_hero_list)

In [8]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_hero_list)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')
    
    # Recorrer las filas para extraer la información de heroes
    heroes = []
    heroes_code=[]
    heroes_role=[]
    heroes_specialities=[]
    heroes_laning=[]
    heroes_year=[]

    for row in rows[1:]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        heroes.append(hero_name)

        hero_code = cols[2].text.strip()
        heroes_code.append(hero_code)

        hero_role=cols[3].text.strip()
        heroes_role.append(hero_role)

        hero_speciality=cols[4].text.strip()
        heroes_specialities.append(hero_speciality)

        hero_laning=cols[5].text.strip()
        heroes_laning.append(hero_laning)

        hero_year=cols[6].text.strip()
        heroes_year.append(hero_year)
else:
    print("Error al acceder a la página:", response.status_code)

In [9]:
data = {
    "Código del Heroe": heroes_code,
    "Heroe": heroes,
    "Rol": heroes_role,
    "Especialidad": heroes_specialities,
    "Línea Preferida": heroes_laning,
    "Año lanzamiento": heroes_year
}
df_hero_list = pd.DataFrame(data)

In [10]:
df_hero_list.tail()

,Código del Heroe,Heroe,Rol,Especialidad,Línea Preferida,Año lanzamiento
117,118,Joy,Assassin,Chase | Damage,EXP Laner,2022
118,119,Arlott,Fighter | Assassin,Charge | Burst,EXP Laner,
119,120,Novaria,Mage,Burst | Poke,Mid Laner,
120,121,Ixia,Marksman,Finisher | Damage,Gold Laner,
121,122,Nolan,Assassin,Chase | Burst,Jungler,

# Buscar info de si es mágico o físico

# Competitivo

* MPL Philippines Season 11

In [3]:
url_MPL_PH_S11="https://liquipedia.net/mobilelegends/MPL/Philippines/Season_11/Statistics"
response = requests.get(url_MPL_PH_S11)

In [17]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MPL_PH_S11)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MPL_PH_S11_heroes= []
    MPL_PH_S11_plays= []
    MPL_PH_S11_wins= []
    MPL_PH_S11_winrate=[]
    MPL_PH_S11_bans= []
    MPL_PH_S11_pick_ban=[]
    MPL_PH_S11_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MPL_PH_S11_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MPL_PH_S11_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MPL_PH_S11_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MPL_PH_S11_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MPL_PH_S11_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MPL_PH_S11_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MPL_PH_S11_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [18]:
data = {
    "Heroe": MPL_PH_S11_heroes,
    "Partidas": MPL_PH_S11_plays,
    "Wins": MPL_PH_S11_wins,
    "Win Rate": MPL_PH_S11_winrate,
    "Bans": MPL_PH_S11_bans,
    "Pick o Ban": MPL_PH_S11_pick_ban,
    "Pick o Ban Rate": MPL_PH_S11_rate_pick_ban
}
df_MPL_PH_S11 = pd.DataFrame(data)
df_MPL_PH_S11.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0  Valentina      113   56   49.56%   29        142          86.06%
1   Fredrinn      112   64   57.14%   40        152          92.12%
2     Pharsa       87   42   48.28%   23        110          66.67%
3     Arlott       77   43   55.84%   26        103          62.42%
4    Beatrix       70   33   47.14%   26         96          58.18%

* MPL Indonesia Season 11

In [25]:
url_MPL_ID_S11="https://liquipedia.net/mobilelegends/MPL/Indonesia/Season_11/Statistics"
response = requests.get(url_MPL_ID_S11)

In [31]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MPL_ID_S11)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find_all('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table[1].find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MPL_ID_S11_heroes= []
    MPL_ID_S11_plays= []
    MPL_ID_S11_wins= []
    MPL_ID_S11_winrate=[]
    MPL_ID_S11_bans= []
    MPL_ID_S11_pick_ban=[]
    MPL_ID_S11_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MPL_ID_S11_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MPL_ID_S11_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MPL_ID_S11_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MPL_ID_S11_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MPL_ID_S11_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MPL_ID_S11_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MPL_ID_S11_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [32]:
data = {
    "Heroe": MPL_ID_S11_heroes,
    "Partidas": MPL_ID_S11_plays,
    "Wins": MPL_ID_S11_wins,
    "Win Rate": MPL_ID_S11_winrate,
    "Bans": MPL_ID_S11_bans,
    "Pick o Ban": MPL_ID_S11_pick_ban,
    "Pick o Ban Rate": MPL_ID_S11_rate_pick_ban
}
df_MPL_ID_S11 = pd.DataFrame(data)
df_MPL_ID_S11.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0   Fredrinn      115   59   51.30%   50        165          94.83%
1     Pharsa      106   56   52.83%   30        136          78.16%
2  Valentina       88   47   53.41%   71        159          91.38%
3       Kaja       72   43   59.72%   78        150          86.21%
4        Yve       68   34   50.00%   58        126          72.41%

* MPL Malaysia Season 11

In [33]:
url_MPL_ML_S11="https://liquipedia.net/mobilelegends/MPL/Malaysia/Season_11/Statistics"
response = requests.get(url_MPL_ML_S11)

In [34]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MPL_ML_S11)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MPL_ML_S11_heroes= []
    MPL_ML_S11_plays= []
    MPL_ML_S11_wins= []
    MPL_ML_S11_winrate=[]
    MPL_ML_S11_bans= []
    MPL_ML_S11_pick_ban=[]
    MPL_ML_S11_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MPL_ML_S11_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MPL_ML_S11_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MPL_ML_S11_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MPL_ML_S11_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MPL_ML_S11_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MPL_ML_S11_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MPL_ML_S11_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [35]:
data = {
    "Heroe": MPL_ML_S11_heroes,
    "Partidas": MPL_ML_S11_plays,
    "Wins": MPL_ML_S11_wins,
    "Win Rate": MPL_ML_S11_winrate,
    "Bans": MPL_ML_S11_bans,
    "Pick o Ban": MPL_ML_S11_pick_ban,
    "Pick o Ban Rate": MPL_ML_S11_rate_pick_ban
}
df_MPL_ML_S11 = pd.DataFrame(data)
df_MPL_ML_S11.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0   Fredrinn       94   49   52.13%   24        118          83.10%
1  Valentina       85   42   49.41%   42        127          89.44%
2     Martis       82   46   56.10%   30        112          78.87%
3     Pharsa       77   38   49.35%   31        108          76.06%
4     Claude       63   36   57.14%   52        115          80.99%

* MPL Singapur Season 5

In [36]:
url_MPL_SG_S11="https://liquipedia.net/mobilelegends/MPL/Singapore/Season_5/Statistics"
response = requests.get(url_MPL_SG_S11)

In [37]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MPL_SG_S11)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MPL_SG_S11_heroes= []
    MPL_SG_S11_plays= []
    MPL_SG_S11_wins= []
    MPL_SG_S11_winrate=[]
    MPL_SG_S11_bans= []
    MPL_SG_S11_pick_ban=[]
    MPL_SG_S11_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MPL_SG_S11_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MPL_SG_S11_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MPL_SG_S11_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MPL_SG_S11_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MPL_SG_S11_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MPL_SG_S11_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MPL_SG_S11_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [38]:
data = {
    "Heroe": MPL_SG_S11_heroes,
    "Partidas": MPL_SG_S11_plays,
    "Wins": MPL_SG_S11_wins,
    "Win Rate": MPL_SG_S11_winrate,
    "Bans": MPL_SG_S11_bans,
    "Pick o Ban": MPL_SG_S11_pick_ban,
    "Pick o Ban Rate": MPL_SG_S11_rate_pick_ban
}
df_MPL_SG_S11 = pd.DataFrame(data)
df_MPL_SG_S11.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0   Fredrinn       65   31   47.69%   16         81          86.17%
1     Pharsa       47   24   51.06%   31         78          82.98%
2    Melissa       39   16   41.03%   31         70          74.47%
3       Kaja       37   24   64.86%   42         79          84.04%
4  Valentina       36   13   36.11%   47         83          88.30%

* MPL Cambodia Spring 2023