# Librerías

In [1]:
import numpy as np
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib
import seaborn
import requests
import re
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager

# Lista de heroes

In [2]:
url_hero_list="https://mobile-legends.fandom.com/wiki/List_of_heroes"
response = requests.get(url_hero_list)

In [3]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_hero_list)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')
    
    # Recorrer las filas para extraer la información de heroes
    heroes = []
    heroes_code=[]
    heroes_role=[]
    heroes_specialities=[]
    heroes_laning=[]
    heroes_year=[]

    for row in rows[1:]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        heroes.append(hero_name)

        hero_code = cols[2].text.strip()
        heroes_code.append(hero_code)

        hero_role=cols[3].text.strip()
        heroes_role.append(hero_role)

        hero_speciality=cols[4].text.strip()
        heroes_specialities.append(hero_speciality)

        hero_laning=cols[5].text.strip()
        heroes_laning.append(hero_laning)

        hero_year=cols[6].text.strip()
        heroes_year.append(hero_year)
else:
    print("Error al acceder a la página:", response.status_code)

In [4]:
data = {
    "Código del Heroe": heroes_code,
    "Heroe": heroes,
    "Rol": heroes_role,
    "Especialidad": heroes_specialities,
    "Línea Preferida": heroes_laning,
    "Año lanzamiento": heroes_year
}
df_hero_list = pd.DataFrame(data)

In [5]:
df_hero_list.tail()

,Código del Heroe,Heroe,Rol,Especialidad,Línea Preferida,Año lanzamiento
117,118,Joy,Assassin,Chase | Damage,EXP Laner,2022
118,119,Arlott,Fighter | Assassin,Charge | Burst,EXP Laner,
119,120,Novaria,Mage,Burst | Poke,Mid Laner,
120,121,Ixia,Marksman,Finisher | Damage,Gold Laner,
121,122,Nolan,Assassin,Chase | Burst,Jungler,

In [6]:
# valor de ultimas filas 
anos = [2023, 2023, 2023, 2023]

# Actualizar los valores en las últimas 4 filas
df_hero_list.loc[df_hero_list.index[-4:], 'Año lanzamiento'] = anos

df_hero_list.tail()

,Código del Heroe,Heroe,Rol,Especialidad,Línea Preferida,Año lanzamiento
117,118,Joy,Assassin,Chase | Damage,EXP Laner,2022
118,119,Arlott,Fighter | Assassin,Charge | Burst,EXP Laner,2023
119,120,Novaria,Mage,Burst | Poke,Mid Laner,2023
120,121,Ixia,Marksman,Finisher | Damage,Gold Laner,2023
121,122,Nolan,Assassin,Chase | Burst,Jungler,2023

In [42]:
# Exportar el DataFrame a un archivo CSV
df_hero_list.to_csv('hero_list.csv', index=False)

# Buscar info de si es mágico o físico

In [7]:
archivo_csv = "heroe_tipo.csv"

# Lee el archivo CSV en un DataFrame
df_hero_type = pd.read_csv(archivo_csv)

# Ahora puedes trabajar con el DataFrame 'df'
# Por ejemplo, puedes imprimir las primeras filas del DataFrame
print(df_hero_type.head())

     Heroe  Físico  Mágico  Verdadero
0     Miya     1.0     NaN        NaN
1  Balmond     1.0     NaN        1.0
2    Saber     1.0     NaN        NaN
3    Alice     NaN     1.0        NaN
4     Nana     NaN     1.0        NaN

Reemplazar por 0 en vez de NaN en cada columna. 
1= Efectúa daño físico, mágico o verdadero según corresponda
0= No efectúa daño

In [8]:
# Reemplaza los valores NaN con ceros en todo el DataFrame
df_hero_type.fillna(0, inplace=True)

In [9]:
df_hero_type.head()

     Heroe  Físico  Mágico  Verdadero
0     Miya     1.0     0.0        0.0
1  Balmond     1.0     0.0        1.0
2    Saber     1.0     0.0        0.0
3    Alice     0.0     1.0        0.0
4     Nana     0.0     1.0        0.0

In [41]:
# Exportar el DataFrame a un archivo CSV
df_hero_type.to_csv('hero_type.csv', index=False)

# Competitivo

* MPL Philippines Season 11

In [10]:
url_MPL_PH_S11="https://liquipedia.net/mobilelegends/MPL/Philippines/Season_11/Statistics"
response = requests.get(url_MPL_PH_S11)

In [11]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MPL_PH_S11)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MPL_PH_S11_heroes= []
    MPL_PH_S11_plays= []
    MPL_PH_S11_wins= []
    MPL_PH_S11_winrate=[]
    MPL_PH_S11_bans= []
    MPL_PH_S11_pick_ban=[]
    MPL_PH_S11_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MPL_PH_S11_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MPL_PH_S11_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MPL_PH_S11_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MPL_PH_S11_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MPL_PH_S11_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MPL_PH_S11_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MPL_PH_S11_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [12]:
data = {
    "Heroe": MPL_PH_S11_heroes,
    "Partidas": MPL_PH_S11_plays,
    "Wins": MPL_PH_S11_wins,
    "Win Rate": MPL_PH_S11_winrate,
    "Bans": MPL_PH_S11_bans,
    "Pick o Ban": MPL_PH_S11_pick_ban,
    "Pick o Ban Rate": MPL_PH_S11_rate_pick_ban
}
df_MPL_PH_S11 = pd.DataFrame(data)
df_MPL_PH_S11.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0  Valentina      113   56   49.56%   29        142          86.06%
1   Fredrinn      112   64   57.14%   40        152          92.12%
2     Pharsa       87   42   48.28%   23        110          66.67%
3     Arlott       77   43   55.84%   26        103          62.42%
4    Beatrix       70   33   47.14%   26         96          58.18%

* MPL Indonesia Season 11

In [13]:
url_MPL_ID_S11="https://liquipedia.net/mobilelegends/MPL/Indonesia/Season_11/Statistics"
response = requests.get(url_MPL_ID_S11)

In [14]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MPL_ID_S11)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find_all('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table[1].find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MPL_ID_S11_heroes= []
    MPL_ID_S11_plays= []
    MPL_ID_S11_wins= []
    MPL_ID_S11_winrate=[]
    MPL_ID_S11_bans= []
    MPL_ID_S11_pick_ban=[]
    MPL_ID_S11_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MPL_ID_S11_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MPL_ID_S11_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MPL_ID_S11_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MPL_ID_S11_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MPL_ID_S11_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MPL_ID_S11_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MPL_ID_S11_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [15]:
data = {
    "Heroe": MPL_ID_S11_heroes,
    "Partidas": MPL_ID_S11_plays,
    "Wins": MPL_ID_S11_wins,
    "Win Rate": MPL_ID_S11_winrate,
    "Bans": MPL_ID_S11_bans,
    "Pick o Ban": MPL_ID_S11_pick_ban,
    "Pick o Ban Rate": MPL_ID_S11_rate_pick_ban
}
df_MPL_ID_S11 = pd.DataFrame(data)
df_MPL_ID_S11.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0   Fredrinn      115   59   51.30%   50        165          94.83%
1     Pharsa      106   56   52.83%   30        136          78.16%
2  Valentina       88   47   53.41%   71        159          91.38%
3       Kaja       72   43   59.72%   78        150          86.21%
4        Yve       68   34   50.00%   58        126          72.41%

* MPL Malaysia Season 11

In [16]:
url_MPL_ML_S11="https://liquipedia.net/mobilelegends/MPL/Malaysia/Season_11/Statistics"
response = requests.get(url_MPL_ML_S11)

In [17]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MPL_ML_S11)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MPL_ML_S11_heroes= []
    MPL_ML_S11_plays= []
    MPL_ML_S11_wins= []
    MPL_ML_S11_winrate=[]
    MPL_ML_S11_bans= []
    MPL_ML_S11_pick_ban=[]
    MPL_ML_S11_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MPL_ML_S11_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MPL_ML_S11_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MPL_ML_S11_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MPL_ML_S11_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MPL_ML_S11_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MPL_ML_S11_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MPL_ML_S11_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [18]:
data = {
    "Heroe": MPL_ML_S11_heroes,
    "Partidas": MPL_ML_S11_plays,
    "Wins": MPL_ML_S11_wins,
    "Win Rate": MPL_ML_S11_winrate,
    "Bans": MPL_ML_S11_bans,
    "Pick o Ban": MPL_ML_S11_pick_ban,
    "Pick o Ban Rate": MPL_ML_S11_rate_pick_ban
}
df_MPL_ML_S11 = pd.DataFrame(data)
df_MPL_ML_S11.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0   Fredrinn       94   49   52.13%   24        118          83.10%
1  Valentina       85   42   49.41%   42        127          89.44%
2     Martis       82   46   56.10%   30        112          78.87%
3     Pharsa       77   38   49.35%   31        108          76.06%
4     Claude       63   36   57.14%   52        115          80.99%

* MPL Singapur Season 5

In [19]:
url_MPL_SG_S11="https://liquipedia.net/mobilelegends/MPL/Singapore/Season_5/Statistics"
response = requests.get(url_MPL_SG_S11)

In [20]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MPL_SG_S11)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MPL_SG_S11_heroes= []
    MPL_SG_S11_plays= []
    MPL_SG_S11_wins= []
    MPL_SG_S11_winrate=[]
    MPL_SG_S11_bans= []
    MPL_SG_S11_pick_ban=[]
    MPL_SG_S11_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MPL_SG_S11_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MPL_SG_S11_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MPL_SG_S11_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MPL_SG_S11_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MPL_SG_S11_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MPL_SG_S11_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MPL_SG_S11_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [21]:
data = {
    "Heroe": MPL_SG_S11_heroes,
    "Partidas": MPL_SG_S11_plays,
    "Wins": MPL_SG_S11_wins,
    "Win Rate": MPL_SG_S11_winrate,
    "Bans": MPL_SG_S11_bans,
    "Pick o Ban": MPL_SG_S11_pick_ban,
    "Pick o Ban Rate": MPL_SG_S11_rate_pick_ban
}
df_MPL_SG_S11 = pd.DataFrame(data)
df_MPL_SG_S11.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0   Fredrinn       65   31   47.69%   16         81          86.17%
1     Pharsa       47   24   51.06%   31         78          82.98%
2    Melissa       39   16   41.03%   31         70          74.47%
3       Kaja       37   24   64.86%   42         79          84.04%
4  Valentina       36   13   36.11%   47         83          88.30%

* MPL Cambodia Spring 2023

In [22]:
url_MPL_CA_Spring23="https://liquipedia.net/mobilelegends/MPL/Cambodia/2023/Spring/Statistics"
response = requests.get(url_MPL_CA_Spring23)

In [23]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MPL_CA_Spring23)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MPL_CA_S23_heroes= []
    MPL_CA_S23_plays= []
    MPL_CA_S23_wins= []
    MPL_CA_S23_winrate=[]
    MPL_CA_S23_bans= []
    MPL_CA_S23_pick_ban=[]
    MPL_CA_S23_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MPL_CA_S23_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MPL_CA_S23_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MPL_CA_S23_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MPL_CA_S23_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MPL_CA_S23_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MPL_CA_S23_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MPL_CA_S23_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [24]:
data = {
    "Heroe": MPL_CA_S23_heroes,
    "Partidas": MPL_CA_S23_plays,
    "Wins": MPL_CA_S23_wins,
    "Win Rate": MPL_CA_S23_winrate,
    "Bans": MPL_CA_S23_bans,
    "Pick o Ban": MPL_CA_S23_pick_ban,
    "Pick o Ban Rate": MPL_CA_S23_rate_pick_ban
}
df_MPL_CA_S23 = pd.DataFrame(data)
df_MPL_CA_S23.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0   Fredrinn       61   33   54.10%   22         83          88.30%
1  Valentina       50   31   62.00%   41         91          96.81%
2     Claude       47   22   46.81%   19         66          70.21%
3     Pharsa       45   22   48.89%   29         74          78.72%
4      Grock       45   21   46.67%   21         66          70.21%

* MPL Brazil Season 5

In [25]:
url_MPL_BR_S5="https://liquipedia.net/mobilelegends/MPL/Brazil/Season_5/Statistics"
response = requests.get(url_MPL_BR_S5)

In [26]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MPL_BR_S5)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MPL_BR_S5_heroes= []
    MPL_BR_S5_plays= []
    MPL_BR_S5_wins= []
    MPL_BR_S5_winrate=[]
    MPL_BR_S5_bans= []
    MPL_BR_S5_pick_ban=[]
    MPL_BR_S5_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MPL_BR_S5_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MPL_BR_S5_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MPL_BR_S5_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MPL_BR_S5_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MPL_BR_S5_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MPL_BR_S5_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MPL_BR_S5_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [27]:
data = {
    "Heroe": MPL_BR_S5_heroes,
    "Partidas": MPL_BR_S5_plays,
    "Wins": MPL_BR_S5_wins,
    "Win Rate": MPL_BR_S5_winrate,
    "Bans": MPL_BR_S5_bans,
    "Pick o Ban": MPL_BR_S5_pick_ban,
    "Pick o Ban Rate": MPL_BR_S5_rate_pick_ban
}
df_MPL_BR_S5 = pd.DataFrame(data)
df_MPL_BR_S5.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0   Fredrinn       52   27   51.92%   40         92          94.85%
1  Valentina       51   29   56.86%   33         84          86.60%
2    Beatrix       50   22   44.00%   10         60          61.86%
3     Pharsa       42   21   50.00%   18         60          61.86%
4    Terizla       41   19   46.34%   30         71          73.20%

* MPL MENA Spring 23

In [28]:
url_MPL_MENA_Spring23="https://liquipedia.net/mobilelegends/MPL/MENA/2023/Spring/Statistics"
response = requests.get(url_MPL_MENA_Spring23)

In [29]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MPL_MENA_Spring23)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MPL_MENA_Spring23_heroes= []
    MPL_MENA_Spring23_plays= []
    MPL_MENA_Spring23_wins= []
    MPL_MENA_Spring23_winrate=[]
    MPL_MENA_Spring23_bans= []
    MPL_MENA_Spring23_pick_ban=[]
    MPL_MENA_Spring23_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MPL_MENA_Spring23_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MPL_MENA_Spring23_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MPL_MENA_Spring23_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MPL_MENA_Spring23_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MPL_MENA_Spring23_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MPL_MENA_Spring23_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MPL_MENA_Spring23_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [30]:
data = {
    "Heroe": MPL_MENA_Spring23_heroes,
    "Partidas": MPL_MENA_Spring23_plays,
    "Wins": MPL_MENA_Spring23_wins,
    "Win Rate": MPL_MENA_Spring23_winrate,
    "Bans": MPL_MENA_Spring23_bans,
    "Pick o Ban": MPL_MENA_Spring23_pick_ban,
    "Pick o Ban Rate": MPL_MENA_Spring23_rate_pick_ban
}
df_MPL_MENA_Spring23 = pd.DataFrame(data)
df_MPL_MENA_Spring23.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0      Grock       45   16   35.56%   23         68          76.40%
1   Fredrinn       43   20   46.51%   26         69          77.53%
2  Lapu-Lapu       39   22   56.41%   11         50          56.18%
3    Beatrix       39   19   48.72%   15         54          60.67%
4       Akai       38   22   57.89%   29         67          75.28%

* MLSL Norte S2

In [31]:
url_MLSL_N_S2="https://liquipedia.net/mobilelegends/MLBB_Latam_Super_League/North/Season_2/Statistics"
response = requests.get(url_MLSL_N_S2)

In [32]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MLSL_N_S2)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MLSL_N_S2_heroes= []
    MLSL_N_S2_plays= []
    MLSL_N_S2_wins= []
    MLSL_N_S2_winrate=[]
    MLSL_N_S2_bans= []
    MLSL_N_S2_pick_ban=[]
    MLSL_N_S2_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MLSL_N_S2_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MLSL_N_S2_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MLSL_N_S2_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MLSL_N_S2_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MLSL_N_S2_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MLSL_N_S2_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MLSL_N_S2_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [33]:
data = {
    "Heroe": MLSL_N_S2_heroes,
    "Partidas": MLSL_N_S2_plays,
    "Wins": MLSL_N_S2_wins,
    "Win Rate": MLSL_N_S2_winrate,
    "Bans": MLSL_N_S2_bans,
    "Pick o Ban": MLSL_N_S2_pick_ban,
    "Pick o Ban Rate": MLSL_N_S2_rate_pick_ban
}
df_MLSL_N_S2 = pd.DataFrame(data)
df_MLSL_N_S2.head()

      Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0    Lesley       32   16   50.00%   17         49          63.64%
1  Yu Zhong       31   13   41.94%   11         42          54.55%
2  Fredrinn       29   14   48.28%   15         44          57.14%
3    Khufra       26   17   65.38%   23         49          63.64%
4   Terizla       26   16   61.54%   18         44          57.14%

* MLSL Sur Season 3

In [34]:
url_MLSL_S_S3="https://liquipedia.net/mobilelegends/MLBB_Latam_Super_League/South/Season_3/Statistics"
response = requests.get(url_MLSL_S_S3)

In [35]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_MLSL_S_S3)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    MLSL_S_S3_heroes= []
    MLSL_S_S3_plays= []
    MLSL_S_S3_wins= []
    MLSL_S_S3_winrate=[]
    MLSL_S_S3_bans= []
    MLSL_S_S3_pick_ban=[]
    MLSL_S_S3_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        MLSL_S_S3_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        MLSL_S_S3_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        MLSL_S_S3_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        MLSL_S_S3_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        MLSL_S_S3_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        MLSL_S_S3_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        MLSL_S_S3_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [36]:
data = {
    "Heroe": MLSL_S_S3_heroes,
    "Partidas": MLSL_S_S3_plays,
    "Wins": MLSL_S_S3_wins,
    "Win Rate": MLSL_S_S3_winrate,
    "Bans": MLSL_S_S3_bans,
    "Pick o Ban": MLSL_S_S3_pick_ban,
    "Pick o Ban Rate": MLSL_S_S3_rate_pick_ban
}
df_MLSL_S_S3 = pd.DataFrame(data)
df_MLSL_S_S3.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0    Beatrix       34   19   55.88%    3         37          45.68%
1   Fredrinn       34   19   55.88%   32         66          81.48%
2        Yve       31   18   58.06%   34         65          80.25%
3     Khufra       30   18   60.00%    8         38          46.91%
4  Valentina       29   16   55.17%   32         61          75.31%

* NACT Spring 23

In [37]:
url_NACT_Fall23="https://liquipedia.net/mobilelegends/NACT/2023/Spring/Statistics"
response = requests.get(url_NACT_Fall23)

In [38]:
# Hacer una solicitud HTTP a la página
response = requests.get(url_NACT_Fall23)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # Encontrar la tabla que contiene la lista de héroes
    table = soup.find('table', class_='wikitable')
    
    # Encontrar todas las filas de la tabla
    rows = table.find_all('tr')

    # Recorrer las filas para extraer la información de heroes
    NACT_Fall23_heroes= []
    NACT_Fall23_plays= []
    NACT_Fall23_wins= []
    NACT_Fall23_winrate=[]
    NACT_Fall23_bans= []
    NACT_Fall23_pick_ban=[]
    NACT_Fall23_rate_pick_ban=[]

    for row in rows[2:-1]:  # Omitir la primera fila que contiene encabezados
        cols = row.find_all('td')

        hero_name = cols[1].text.strip()
        NACT_Fall23_heroes.append(hero_name)

        hero_plays = cols[2].text.strip()
        NACT_Fall23_plays.append(hero_plays)

        hero_wins = cols[3].text.strip()
        NACT_Fall23_wins.append(hero_wins)

        hero_winrate=cols[5].text.strip()
        NACT_Fall23_winrate.append(hero_winrate)

        hero_bans = cols[15].text.strip()
        NACT_Fall23_bans.append(hero_bans)

        hero_pick_ban=cols[17].text.strip()
        NACT_Fall23_pick_ban.append(hero_pick_ban)

        hero_rate_pick_ban=cols[18].text.strip()
        NACT_Fall23_rate_pick_ban.append(hero_rate_pick_ban)

else:
    print("Error al acceder a la página:", response.status_code)

In [39]:
data = {
    "Heroe": NACT_Fall23_heroes,
    "Partidas": NACT_Fall23_plays,
    "Wins": NACT_Fall23_wins,
    "Win Rate": NACT_Fall23_winrate,
    "Bans": NACT_Fall23_bans,
    "Pick o Ban": NACT_Fall23_pick_ban,
    "Pick o Ban Rate": NACT_Fall23_rate_pick_ban
}
df_NACT_Fall23 = pd.DataFrame(data)
df_NACT_Fall23.head()

       Heroe Partidas Wins Win Rate Bans Pick o Ban Pick o Ban Rate
0  Valentina       75   40   53.33%   64        139          97.89%
1     Pharsa       63   27   42.86%   26         89          62.68%
2   Fredrinn       59   28   47.46%   37         96          67.61%
3   Lancelot       54   29   53.70%   24         78          54.93%
4    Beatrix       53   25   47.17%    9         62          43.66%

* Página Oficial de MLBB

In [40]:
driver=webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

def verify_title():
    # Navigate to the website
    driver.get("https://sdetunicorns.com")

    # Get the title of the page
    title = driver.title

    # Verify the title
    expected_title = "Master Software Testing and Automation | SDET Unicorns"
    if title == expected_title:
        print("Title verification successful!")
    else:
        print(f"Title verification failed. Expected '{expected_title}', but got '{title}'.")

    # Close the browser
    driver.quit()

    
if __name__ == "__main__":
    verify_title()

Title verification successful!